* {
  box-sizing: border-box;
}


html {
  font-family: $base-ff;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 400;
  line-height: 1.2;
  scroll-behavior: smooth;
  overflow-x: hidden;
  text-rendering: geometricPrecision;
  -webkit-font-smoothing: antialiased;
}

body {
  position: relative;
  overflow: hidden;
  font-size: 10px;
  margin: 0 auto;

  &.no-padding,
  &.page-template-product-page {
    padding: 0;
    max-width: none;
  }
}

button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: none;
  appearance: none;
}

main {
  -webkit-overflow-scrolling: touch;
}

canvas {
  display: block;
}

button {
  font-family: $base-ff;
  background: none;
  padding: 0;
  margin: 0;
  border: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;

  li {
    list-style: none;
  }
}


pre {
  margin: 0;
}

button,
input {
  font-family: inherit;
}


// container
.wrapper {
  position: relative;
  width: 1366px;
  max-width: 100%;
  margin: 0 auto;
  padding-left: 72px;
  padding-right: 72px;

  @include tablet {
    width: 100%;
    padding: 0 20px;
  }
}

#support, #stages {
  scroll-margin-top: 100px;

  @include tablet {
    scroll-margin-top: 60px;
  }
}