// fonts
$base-ff: 'GolosText', sans-serif;
$second-ff: 'Merriweather', sans-serif;


// media
$laptop: 1600px;
$tablet: 991px;
$phone: 767px;


// color
$gray: #313131;
$light-gray: #D0D0D0;
$light-gray-second: #D6D6D6;
$light-gray-third: #D9D9D9;
$black: #1F1F1F;
$white: #FFFFFF;
$red: #F54932;
$yellow: #FBCE51;
$link: #3057A2;
$background-footer: #E9DED4;

// transition
$duration: 0.3s;
$effect: ease-out;
