.swiper-footer {
  display: flex;
  justify-content: space-between;
  margin-top: 2.4rem;

  @include phone {
    margin-top: 1.6rem;
  }
}

.swiper-timeline-block {
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.swiper-timeline {
  position: relative;
  width: 33.6rem;
  height: 0.4rem;
  border-radius: 0.8rem;
  overflow: hidden;

  @include phone {
    width: 17.8rem;
  }

  & .swiper-progress {
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    width: auto;
    height: 100%;
    transition: all $duration;
  }
}

.swiper-nav-block {
  display: flex;
  gap: 1.5rem;
  margin-left: auto;
}

.swiper-nav-btn {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  transition: all $duration;

  &:hover {

    &::before {
    }
  }

  @include phone {
    width: 3.2rem;
    height: 3.2rem;
  }

  &:before {
    position: absolute;
    content: '';
    width: 1rem;
    height: 1rem;
    left: 1.6rem;
    transform: rotate(45deg);
    transition: all $duration;

    @include phone {
      left: 1.3rem;
    }
  }

  &.swiper-nav-btn__next {
    &:before {
      transform: rotate(-135deg);
      left: 1.1rem;

      @include phone {
        left: 0.8rem;
      }
    }
  }
}

.slider-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: $gray;
  flex-shrink: 0;
  opacity: 1;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;

  @include tablet {
    width: 36px;
    height: 36px;
  }

  &:hover {
    background-color: $yellow;

    @include tablet {
      background-color: $gray;
    }
  }

  img {
    width: 8px;
    height: 16px;
  }

  &.swiper-button-disabled {
    background-color: $light-gray-second;
  }
}

@keyframes timeline {
  from {
    left: -100%;
  }

  to {
    left: 0;
  }
}